<%- include('partials/header') %>

    <div class="container">
        <div class="jumbotron centered">
        <i class=""fas fa-key fa-6x></i>
        <ion-icon id="ky" name="desktop-outline"></ion-icon>
        <h1 class="display-3">Secret</h1>
        <p class="secret-text">Don't keep your secret , share them anonymously!</p>
        <hr>
        <!-- <form action="/submit" method="POST">
            <div class="form-group">
                <input type="text" class="form-control text-center" name="secret" placeholder="What's your secret ?">
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form> -->
        <div class="form-group">
                <h2>Share and feel light..</h2>
                <input type="text" class="form-control text-center" name="secret" placeholder="What's your secret ?">
                <a class="btn btn-light btn-lg" href="/" role="button">Submit</a>
        </div>
    </div>
</div>

<%- include('partials/footer') %>